.desc{
    display: flex;
    flex-direction: column;
  }

#list{
    list-style: none;
}

.toolbar
{
  position: absolute;
  right: 5%;
}
.toolbar li{
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
.toolbar li a{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500px;
}
.shop{
    position: absolute;
    font-family: sans-serif;
    font-size: larger;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

@media only screen and (max-width: 435px) {
  .shop{
    top: 5%;
  }
  #img{
    width: 300px;
    height: 200px;
  }
  .toolbar{
    z-index: 1;
  }
}

